@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* ANIMATIONS */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

/* GLOBAL DARK MODE */

html {
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

/* body {
  background: white;
  color: #111827;

  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

.dark body {
  background: #030712;
  color: white;
} */

body {
  @apply bg-white text-gray-900 transition-all duration-300;
}

.dark body {
  @apply bg-gray-950 text-white;
}